@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.searchBar {
  width: 80%;
  display: block;
  margin: 0.5rem auto;
  height: 3rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: larger;
}
